body {
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  text-align: center;
  background-color: darkslategray;
  color: white;
}

footer {
  background-color: gainsboro;
  text-align: center;
}

div {
  background-color: lightgrey;
}
